In [ ]:
#Sprawdź, czy użytkownik wpisał liczbę nieparzystą lub parzystą

In [ ]:
x = input("Podaj liczbę: ")

Podaj liczbę: 3

In [ ]:
if x.isdigit():
  if int(x) % 2 == 0:
    print("Jest parzysta")
  else:
    print("Jest nieparzysta")
else:
  print("Błędne dane")

Jest nieparzysta

In [ ]:
#Sprawdź, czy wpisana przez użytkownika litera jest samogłoską lub spółgłoską

In [ ]:
samogloski = ["a", "e", "i"]

In [ ]:
x = input("Podaj literę: ")

Podaj literę: t

In [ ]:
for samogloska in samogloski:
  if x.lower() == samogloska:
    print("To jest samogłoska")
  else:
    print("To jest spółgłoska")
    break

To jest spółgłoska

In [ ]:
samogloski = ["a", "e", "i"]
x = input("Podaj literę: ")
if x in samogloski:
  print("To jest samogłoska")

Podaj literę: e
To jest samogłoska

In [ ]:
#Drukarka

In [ ]:
def drukarka():
  print("Działam")

In [ ]:
drukarka()

Działam

In [ ]:
def dodawanie(liczba1, liczba2):
  print(liczba1 + liczba2)

In [ ]:
dodawanie(23, 45)

68

In [ ]:
def kalkulator (liczba1, liczba2, działanie):
  if działanie == "+":
    print (liczba1 + liczba2)

In [ ]:
def dobry_kalkulator (liczba1, liczba2, działanie):
  if działanie == "+":
    return liczba1 + liczba2

In [ ]:
kalkulator (1, 2, "+")

3

In [ ]:
wynik = kalkulator (1, 2, "+")

3

In [ ]:
brzydki_tekst = "     j#tRo       "

In [ ]:
def clean_text(text):
  cleaned_text = text.replace("#", "u").strip().lower().capitalize()
  return cleaned_text

In [ ]:
ladny_tekst = clean_text(brzydki_tekst)
ladny_tekst

'Jutro'

In [ ]:
def grade(points):
  if points >= 15:
    return "Bardzo dobry"
  elif points >= 10 and points < 15:
    return "Dobry"
  else:
    return "Niedostateczny"

In [ ]:
grade(4)

'Niedostateczny'

In [ ]:
df_testy["Ocena"] = df_testy["Punkty"].apply(grade)

NameError: ignored

In [ ]:
import pandas as pd

In [ ]:
 #Zadanie na teraz i domowe
 #1. wgraj plik titanic.csv z zeszłych zajęć do Pythona
 #Na podstawie kolumny "Sex" proszę stworzyć nową kolumnę o nazwie sex 2, w ktorej bedzie: dla female cyfra 1 (int); dla male -- cyfra 0 (int)

In [ ]:
df_titanic = pd.read_csv("/content/drive/MyDrive/train.csv - train.csv (1).csv")

In [ ]:
print(df_titanic)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
def sex2(sex):
  if sex == "female":
    return "1"
  else:
    return "0"